#topCover{
    height: 550px; width: 2190px;
}
body{
    margin: 0px;
    font-family: 'Playfair Display', serif;
}
input{
    style="text-align:center;"
}
section {
    display: flex;
    margin-bottom: 70px;
}
.half-width{
    width: 50%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 2%;
    padding-bottom: 5%;
}
.half-width img{
width: 80%;
}
h1{
    font-size: 50px;
}
h1 span{
    color: rgb(17, 155, 102);
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(4, 39, 32), rgb(13, 184, 161));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
p{
    color: rgb(29, 25, 25);
}
.middle-part img{
    max-width: 100%;
}
.middle-part{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0em;
}
h3{
    font-size: 50px;
}
section .middle-part{
    border: 5cm;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.About{
   padding-left: 10%;
   padding-right: 10%;
   padding-bottom: 60px;
}
.Recipie{
    width: 30%;
    margin-left: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 30px;
    box-shadow: 5px 7px 40px gray;
    height: 100%;
    border-radius: 30px;
}
.Recipie img{
    border-radius: 35px;
    width: 98%;
    position: static;
    padding-left: 3%;
    padding-right: 5%;
}
.final{
    background-color: lightgreen;
        background-size: auto;
}